<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaveComparerLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WaveComparerLib.Properties.Settings>
            <setting name="AudioFileToVectorMode" serializeAs="String">
                <value>BandedSignalsVector</value>
            </setting>
            <setting name="StfftNumberOfFrames" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LibraryLocation" serializeAs="String">
                <value>C:\WaveComparer\XmlLibrary.Xml</value>
            </setting>
            <setting name="FrequencyPartitions" serializeAs="String">
                <value>0.06,0.60</value>
            </setting>
            <setting name="FrequencyLogarithmicScale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeasureLocation" serializeAs="String">
                <value>C:\WaveComparer\TrainingMeasure.Xml</value>
            </setting>
        </WaveComparerLib.Properties.Settings>
    </userSettings>
</configuration>